Django==1.11.3
django-bootstrap-form==3.2.1
django-email-extras==0.3.3
django-forms-builder==0.13.0
django-registration==2.2
django-rosetta==0.7.13
django-tastypie==0.14.0
gunicorn==19.7.1
html5lib==0.9999999
httplib2==0.9.1
Jinja2==2.8
pytz==2017.2
pyxdg==0.25
requests==2.18.4
urllib3==1.22
whitenoise==3.3.1


